{% extends 'shop/basic.html' %}
{% block title %} Contact Details. {% endblock %}

{%block nav%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/shop"> ECom </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/shop">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop/tracker">Tracker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/shop/contact">Contact Us<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="get" action="/shop/search">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-html="true" data-toggle="popover" data-placement="bottom" data-content="what the fuck going on.">
                    Cart(<span id='crt'>0</span>)
                </button>
            </form>
            <button class="btn btn-primary" onclick="clearCart();"> Clear Cart </button>
        </div>
    </nav>

{%endblock%}

{% block body %}
<div class="container my-4">
    <h2> Contact Us </h2>
    <form action="/shop/contact" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="Name"> Name </label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
        </div>
        <div class="form-group">
            <label for="Email Address">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="phNo">Phone Number</label>
            <input type="tel" class="form-control" id="phNo" name="phone" placeholder="Enter Your Phone Number">
        </div>
        <div class="form-group">
            <label for="help"> How may we help you? </label>
            <textarea class="form-control" id="help" rows="3" name="desc">

        </textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
{% endblock %}
{% block js%}
{% if thank %}
<script>
alert("Thanks for contacting with us. We will get back to you soon. :)");
document.location = '/shop/contact';
</script>
{% endif %}
{% endblock%}